.App {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  min-height: 100vh;
  color: white;
}

.body {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1.5em;
}

.sequencer-container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.sequencer {
  width: 90%;
  overflow-x: auto;
}

.sequencer-options {
  width: 95%;
  text-align: left;
  padding-top: 0.6em;
  display: flex;
  justify-content: left;
  align-items: center;
}

.sequencer-width-opt {
  font-size: 4em;
  color: rgba(192, 192, 192, 0.8);
  opacity: 0.35;
  transition: all 200ms;
}

.sequencer-width-opt:hover {
  opacity: 0.55;
}

.btn {
  padding: 0.8em;
  margin-right: 0.4em;
  border-radius: 0.4em;
  font-size: 0.7em;
  font-weight: bold;
  border: none;
  color: white;
  cursor: pointer;
}

.clear-btn, .share-btn {
  background-color: white;
  border: 2px solid #f0264bDD;
  color: #f0264bDD;
  font-weight: normal;
  margin-right: 1.5em;
  vertical-align: middle;
  opacity: 0.85;
  transition: all 200ms;
  height: 3em;
}

.share-btn { 
  color: #1a73e7cc;
  border: 2px solid #1a73e7cc;
}

.start-btn {
  opacity: 0.85;
  border-radius: 3em;
  transition: all 200ms;
  width: 6em;
  height: 6em;
}

.start-btn .material-icons{
  font-size: 3em;
}

.clear-btn:hover, .share-btn, .start-btn:hover {
  opacity: 1;
}

.clear-btn > span, .share-btn > span, .start-btn > span {
  vertical-align: middle;
}

.vel-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #168ad5;
  padding: 0 0.3em;
  border-radius: 0.2em;
  border: 1px solid #1a73e7cc;
  height: 2.5em;
}

.vel-label {
  padding: 0;
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.8);
  margin: 0 0.5em;
}

.vel-btn-container {
  display: flex;
  align-items: center;
}

.vel-btn {
  background-color: white;
  padding: 0.2em 0.5em;
  border-radius: 1em;
  margin-left: 0.3em;
  font-weight: bold;
  outline: none;
  border: none;
}

.vel-btn:hover {
  cursor: pointer;
}

.circle-btn {
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
}

table {
  line-height: 0;
  border-collapse: collapse;
}